html, body {
    margin: 0;
    padding: 0;
}
.main-content-container {
    padding:50px 0;
    width: 992px;
}
.login-register-form {
    padding:0 20px;
}
.login-register-form h3 {
    margin-bottom: 15px;
}
.create-quiz-form-container {
    width: 500px;
    margin:auto
}
.create-quiz-form-container input {
    text-align: center;
}
.create-quiz-form-container input::placeholder {
    text-align: center;
}
