html, body {
    margin: 0;
    padding: 0;
}
body {
    background: #f0a202;
    position: relative;
    margin-bottom: 2rem;
}
.no-padding {
    padding: 0 !important;
}
.logo {
    text-align: center;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
}
.logo img {
    width: 80%;
}
.loading-div {
    text-align: center;
}
.card {
    border-radius: 1rem;
    border:5px solid #FFFFFF
}
.card.no-border {
    border: none;
}
.card.green {
    background: #44af69;
    color:#FFFFFF;
}
.card.green button.btn-primary {
    border:1px solid #FFFFFF
}
.card .card-header.green {
     background: #44af69;
 }
.card .card-header.orange {
    background: #e4572e;
}
.card .card-footer.green {
    background: #44af69;
}
.card .card-footer.orange {
    background: #e4572e;
}
.card .card-header {
    border-radius: calc(1rem - 5px) calc(1rem - 5px) 0 0;
}
.card .card-header {
    color:#FFFFFF;
    font-weight: bold;
    border-bottom: 5px solid #FFFFFF;
}
.card .card-footer {
    border-radius: 0 0 calc(1rem - 5px) calc(1rem - 5px);
}
.card .card-footer {
    color:#FFFFFF;
    font-weight: bold;
    border-top: 5px solid #FFFFFF;
}
.card.purple {
    background: #88498f;
    color:#FFFFFF;
}
.card.purple button.btn-primary {
    border:1px solid #FFFFFF
}
.card.orange {
    background: #e4572e;
    color:#FFFFFF;
}
.card.orange button.btn-primary {
    border:1px solid #FFFFFF
}

input.error {
    border:1px solid red;
    color:red;
}
.main-content-container {
    max-width: 1140px;
}

.card h3 {
    margin-bottom: 15px;
}

.join-quiz-form-container {
    max-width: 500px;
    margin:auto;
    padding: 3rem 0;
}
.join-quiz-form-container input, .answer-question-form-container input {
    text-align: center;
}
.join-quiz-form-container input::placeholder, .answer-question-form-container input::placeholder {
    text-align: center;
}
.join-quiz-form-container button, .answer-question-form-container button {
    width: 50%;
}

.quiz-leaderboard {
    padding: 1vmin 0;
}

.quiz-leaderboard .card .card-body {
    padding:2vmin
}

.timer-container {
    margin-bottom: 1vmin;
}
.timer {
    text-align: center;
    font-family: 'roboto', sans-serif;
}
.timer .cell {
    text-align: left;
    display: inline-block;
    height: 35px;
}
.timer .cell.min {
    width: 21px;
}
.timer .cell.sec {
    width: 40px;
}
.timer .cell.colon {
    width: 30px;
    text-align: center;
}
.timer .cell span {
    font-size: 35px;
    line-height: 35px;
    color: #444;
    display: block;
}

.current-question-display {
    margin-bottom: 1vmin;
}
.current-question-display .row {
    margin:0;
}
.current-question-display .row > div {
    border-bottom: 1px solid #fff;
}
.current-question-display .row > div > h5 {
    margin-bottom: 1vmin;
}
.current-question-display .row {
    margin-bottom: 1vmin;
}
.current-question-display .cat-text {
    margin-bottom: 1vmin;
}

.team-answers-list {
    padding: 2vmin 0;
}
.incorrect td {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.incorrect td:last-child::after {
    position: absolute;
    right: 25px;
    font-weight: bold;
    content: '✗';
}
.correct td {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.correct td:last-child::after {
    position: absolute;
    right: 25px;
    font-weight: bold;
    content: '✓'
}

.podium-container {
    position: relative;
    padding-top: 200px;
}
.banner-container {
    position: absolute;
    left: 50%;
    top:70px;
    height: 200px;
}
.banner {
    position: relative;
    left: -50%;
    display: block;
    width: 600px;
    height: 60px;
    border: 1px solid #8a1;
    font-size: 30px;
    line-height: 60px;
    font-weight: normal;
    text-align: center;
    color: #FFF;
    background: #9b2;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
    0 6px 10px rgba(0,0,0,.15);
}
.banner::before,
.banner::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -70px;
    top: 24px;
    display: block;
    width: 40px;
    height: 0px;
    border: 30px solid #9b2;
    border-right: 20px solid #791;
    border-bottom-color: #94b81e;
    border-left-color: transparent;
    transform: rotate(-5deg);
    box-sizing: content-box;
}
.banner::after {
    left: auto;
    right: -70px;
    border-left: 20px solid #791;
    border-right: 30px solid transparent;
    transform: rotate(5deg);
}
.podium {
    height:500px;
    padding: 15px 15px 0 15px;
}
.podium h1, .podium h2, .podium h3 {
    margin-bottom: .5rem;
}
.podium h1:first-child, .podium h2:first-child, .podium h3:first-child {
    border-bottom: 2px solid #FFF;
}

.podium .podium-col {
    padding:0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}
.podium .podium-col:first-child {
    margin-right: -5px;
    margin-left: 5px;

    position: relative;
}
.podium .podium-col:last-child {
    margin-left: -5px;
}
.podium .podium-col .card {
}
.podium .podium-col:first-child {

}
.podium .podium-col:first-child .card {
    border-radius: 1rem 0 0 0;
    height: 33%;
    display: flex;
}
.podium .podium-col:nth-child(2) {

}
.podium .podium-col:nth-child(2) .card {
    border-radius: 1rem 1rem 0 0;
    height: 50%;
}
.podium .podium-col:last-child {

}
.podium .podium-col:last-child .card {
    border-radius: 0 1rem 0 0;
    height: 25%;
}
.podium-container .results-table {
    margin:0 5px;
    background: #FFFFFF;
}
.podium-container .results-table .table-bordered {
    border: 5px solid #FFF;
    border-top:none;
}
#fireworks-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
